* {
    box-sizing: border-box;
}

.meme1 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("assets/meme_1.png");

}

.meme2 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("assets/meme_2.png");

}

.meme3 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("assets/meme_3.jpg");
}

.meme4 {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("assets/meme_4.jpg");
}

.icon {
    height: 16px;
    width: 16px;
    background-image: url("assets/accordion_btn.png");
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 25px;
}

.accordion-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 108%;
}

.meme-header {
    display: flex;
    justify-content: space-between;
}

.meme-item {
    width: 85%;
    height: 100%;
    margin-bottom: 25px;
    /* transition: 0.8s; */
}

.meme-item:not(:last-child) {
    border-bottom: 1px solid #c0c0c0;
}

.bayan {
    border-bottom: 1px solid #c0c0c0;
    padding-left: 30px;
}

.meme-link {
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    padding: 0 0 0 0;
}

 .meme-img {
    transition: 0.8s;
    margin-left: 15%;
}

  .accordion-container .meme-img {
    height: 0px;
  }

  .accordion-container .meme-item :target {
    height: 350px;
    margin-bottom: 20px;
  }

  .accordion-container .meme-img :target {
    height: 100%;
  }

  .accordion-container .meme-img :hover {
    height: 100%;
  }
  
  .accordion-container .meme-item :hover {
    height: 350px;
    margin-bottom: 20px;

    
  }

